.content {
    width: 84%;
    margin-left: 8%;
    padding: 30px 30px 30px 30px
}

html body.skin-blue.sidebar-mini.sidebar-collapse div.wrapper div.content-wrapper section.content div.row div.col-md-12 div.box.box-danger div.box-body div.row div.col-md-5 {
    height: 400px !important;
}

#slideB {
    border: none;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
    background-color: #000;
    border-radius: 3px;
}